body{
  margin: 0px;
  font-family: quiche-sans, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-wrapper {
  display:flex;
  justify-content: space-between;
}


.left-side{
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0,9rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0,5s;
}

.nav-link-wrapper{
  font-family: quiche-sans,sans-serif;
font-weight: 900;
font-style: normal;
}

.nav-link-wrapper a {
  color:#8a8a8a;
  text-decoration: none;
  transition: color 0,5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

.h1{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.portfolio-item-wrapper{
  position: relative;
}



.portfolio-img-background{
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  background-color:black;
}

.layer:hover{
  background-color: white;
}




.img-text-wrapper{
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 100px;
  padding-right: 100px;
}
.img-text-wrapper:hover{
  background-color:black;
  opacity: 0.8;

}

.img-text-wrapper .subtitle {
  opacity: 1;
}


.logo-wrapper{
  width: 50%;
  margin-bottom: 20px;

}

.img-text-wrapper .subtitle {
  transition: 1s;
  font-weight: 600;
  color: transparent;
}

.img-text-wrapper:hover .subtitle{
  font-weight: 600;
  color: white;
}


.img-darken{
  transition: 1s;
  filter: brightness (10%);
}
